@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  width: 400px;
  min-height: 300px;
  background-color: #121212;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  /* Ajouter un effet de grain */
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px
  );
  background-size: 4px 4px;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(135deg, #9b59b6, #3498db);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s ease infinite;
}

.status {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 16px;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  box-shadow: 0 2px 8px rgba(46, 204, 113, 0.5);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

button {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button#login-button {
  background: linear-gradient(135deg, #3498db, #2ecc71);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.4);
}

button#login-button:hover {
  transform: scale(1.05);
}

button#logout-button {
  background: linear-gradient(135deg, #e74c3c, #c0392b);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(231, 76, 60, 0.4);
}

button#logout-button:hover {
  transform: scale(1.05);
}
